* {
    padding: 0;
    margin: 0;
}

.title {
    display: flex;
    justify-content: center;
    height: 100px;
    background-color: #29323c;
    color: yellow;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 45px;
}
.scores {
   display: block;
   text-align: center;
   font-size: 25px;
   background-color: #5d7189;
   height: 300px;
   padding-top: 25px;
}

.wrapper {
    display: flex;
    justify-content: center;
    gap: 100px;
    background-color: #5d7189;
    height: 150px;
}

.btn {
    font-size: 60px;
    width: 150px;
    height: 100px;
    border: 3px solid black;
    border-radius: 10px;
}

.container{
    display: flex;
    justify-content: space-between;
}

.player {
    display: block;
    text-align: left;
    padding-left: 25%;
}

.computer {
    text-align: right;
    padding-right: 25%;
}

.icons{
    text-align: center;
    font-size: 60px;
}

.popup {
    width: 300px;
    background: #cc5333;
    top: 50%;
    left: 50%;
    position: absolute;
    border-radius: 5px;
    text-align: center;
    transform: translate(-50%,-50%) scale(0);
    transition: 0.4s ease-in-out;
    visibility: hidden;
}

.open-popup{
    visibility: visible;
    transform: translate(-50%,-50%) scale(1);
}