html, body {
    margin-top: -11px;
    margin-left: 0px;
    margin-right: 0px;
}

.title {
    display: flex;
    justify-content: center;
    height: 150px;
    background-image: linear-gradient(90deg, #23074d, rgba(204, 83, 51))
}

.popup {
    width: 300px;
    background: #cc5333;
    top: 50%;
    left: 50%;
    position: absolute;
    border-radius: 5px;
    text-align: center;
    transform: translate(-50%,-50%) scale(0);
    transition: 0.4s ease-in-out;
    visibility: hidden;
}

.open-popup{
    visibility: visible;
    transform: translate(-50%,-50%) scale(1);
}